footer {
  padding: 2rem 0;
  box-shadow: 0 -0.2rem 0 var(--shadow-color);
  background-color: var(--white);
  z-index: 1;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
