@charset "UTF-8";

/* Structure */

.st-main {
  width: 100rem;
}

.st-section {
  margin-bottom: 3rem;
}

.st-article {
  padding-bottom: 3rem;
  border-bottom: .5rem solid var(--black);
}

.st-container {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
}

.st-container > header {
  position: relative;
}

.st-colors,
.st-buttons,
.st-checkbox,
.st-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.st-full {
  width: 100%;
}

/* Title */

.st-title {
  text-decoration: underline;
}

h1.st-title {
  text-align: center;
  font-size: 4rem;
}

h2.st-title {
  font-size: 3rem;
  margin-left: 2rem;
}

/* Colors */

.st-colors li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
  border: .1rem solid var(--shadow-color);
  text-align: center;
  border-radius: .8rem;
}

.st-colors li {
  margin: 0 1% 1rem 0;
}

.st-colors span:first-of-type {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: .8rem .8rem 0 0;
}

/* Fonts */

.st-font-title {
  font-family: var(--title-font);
}

.st-font-content {
  font-family: var(--content-font);
}

.st-font-blog {
  font-family: var(--blog-font);
}
