@charset "UTF-8";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* fix */
  font-weight: 400;
  font-family: var(--content-font), Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 0;
  color: var(--black);
}

main {
  margin: 6.5rem auto 0;
}
