:root {
  --primary-color: #00d1b2;
  --secondary-color: #00c4a7;
  
  --primary-strong-color: #fd8a10;
  --secondary-strong-color: #d87002;
    
  --primary-bg-color: #fefefe;
  --secondary-bg-color: #fafafa;
  
  --black: #000;
  --gray: #333;
  --time: #aaa;
  --white: #fff;
  
  --shadow-color: rgba(50, 50, 50, 0.15);
  
  --title-font: 'Poppins', Arial, sans-serif;
  --content-font: 'Maven Pro', Arial, sans-serif;
  --blog-font: 'Merryweather', Arial, sans-serif;
}
