@charset "UTF-8";

button,
input[type=submit]  {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.button,
button,
input[type=submit] {
  display: inline-block;
  padding: .8rem 2.5rem;
  margin: 1rem 0;
  color: var(--white);
  text-align: center;
  background-color: var(--primary-color);
  border: .125rem solid var(--primary-color);
  border-radius: .5rem;
  transition: all .3s ease;
}

.button:hover,
button:hover,
input[type=submit]:hover {
  color: var(--white);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.read {
  display: flex;
  justify-content: center;
  padding: .5rem 2.5rem;
  max-width: 50%;
  margin: 2rem auto 0;
}

.read::before {
  margin-right: 2rem;
  font-family: "fontawesome solid";
  font-size: 2rem;
  content: "\f518";
}

.strong {
  background-color: var(--primary-strong-color);
  border: .125rem solid var(--primary-strong-color);
}

.strong:hover {
  background-color: var(--secondary-strong-color);
  border: .125rem solid var(--secondary-strong-color);
}

.strong::before {
  margin-right: 2rem;
  font-family: "fontawesome solid";
  font-size: 2rem;
  content: "\f234";
}
