input,
textarea,
select,
.select {
  font-family: inherit;
  font-size: 1.7rem;
  color: var(--gray);
  background: var(--white);
  border: none;
  box-shadow: 0 0 2px 1px var(--shadow-color);
  border-radius: .5rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0;
  height: 5rem;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  color: inherit;
  box-shadow: 0 0 2px 1px var(--primary-color);
}

/* LABEL */

label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--gray);
  margin-bottom: 2rem;
  width: 10rem;
}

/* TEXTAREA */

textarea {
  min-height: 9.5rem;
}

/* CHECKBOX */

input[type=checkbox], 
input[type=radio] {
  display: inline-block;
  background: var(--shadow-color);
  border: none;
  color: var(--white);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  height: 3rem;
  width: 3rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
}

input[type=checkbox]:hover,
input[type=radio]:hover {
  box-shadow: 0 0 0 3px var(--primary-color);
}

input[type=checkbox]:checked, 
input[type=radio]:checked {
  background: var(--primary-color);
}

input[type=checkbox]:checked::before,
input[type=radio]:checked::before {
  display: inline-block;
  content: '✔';
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  position: absolute;
}

input[type=radio] {
  border-radius: 50%;
}

/* SELECT */

select {
  box-shadow: none;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  padding: 0 0 0 1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
select::-ms-expand {
  display: none;
}

option {
  font-size: 1.5rem;
}

/* Custom Select */
.select {
  display: block;
  line-height: 3;
  padding: 0;
  position: relative;
}

/* Arrow */
.select::after {
  background: var(--white);
  content: '\25BC';
  height: 0;
  position: absolute;
  right: 1rem;
}

.select::after {
  color: var(--shadow-color);
}

.select:hover::after {
  color: var(--primary-color);
}

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* RANGE */

input[type=range]::-webkit-slider-runnable-track {
  background: var(--shadow-color);
  border: none;
  border-radius: .3rem;
  height: .5rem;
}

input[type=range]::-webkit-slider-thumb {
  background: var(--primary-color);
  border: none;
  border-radius: 50%;
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  margin-top: -0.4rem;
}

input[type=range]:focus {
  outline: var(--primary-color);
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--shadow-color);
}

input[type=range]::-moz-range-track {
  background: var(--shadow-color);
  height: 0.5rem;
  border: none;
  border-radius: .3rem;
}

input[type=range]::-moz-range-thumb {
  background: var(--primary-color);
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

input[type=range]:-moz-focusring {
    outline: .1rem solid var(--white);
    outline-offset: -0.1rem;
}

input[type=range]::-ms-fill-lower {
    background: var(--shadow-color);
    border-radius: 1rem;
}

input[type=range]::-ms-fill-upper {
    background: var(--shadow-color);
    border-radius: 1rem;
}

input[type=range]::-ms-thumb {
    background: var(--shadow-color);
    border: none;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--shadow-color);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--shadow-color);
}
