a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: var(--secondary-color);
}

a::before {
  font-family: "fontawesome";
  font-size: 3.5rem;
}

a.github::before {
  content: "\f09b";
}

a.contact::before {
  content: "\f0e0";
}
