time,
.time {
  margin: 0;
  color: var(--time);
  font-size: 1.5rem;
}

time::before {
  font-family: "fontawesome";
  content: "\f073";
  margin-right: .5rem;
}

.time-reading {
  display: inline;
}

.time-reading::before {
  font-family: "fontawesome";
  content: "\f017";
  margin-left: 1rem;
  margin-right: .5rem;
}
